* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif";
}

ul {
  list-style: none;
}

.is-highlight {
  background-color: #ff0;
  color: #000;
}
